<div class="contact">
    <h2>Contact Us</h2>
    <p>If you have any questions or need further information, feel free to reach out to us using the contact details below:</p>
    
    <div class="contact-details">
      <div class="contact-item">
        <h3>Email</h3>
        <p><a href="mailto:support@nbad.com">support&#64;nbad.com</a></p>
      </div>
      
      <div class="contact-item">
        <h3>Phone</h3>
        <p><a href="tel:+1234567890">+1 (234) 567-890</a></p>
      </div>
      
      <div class="contact-item">
        <h3>Address</h3>
        <p>9201 University City Blvd, <br>Charlotte, NC 28223</p>
      </div>
    </div>
  </div>
  